div#root {
  width: 80%;
  margin: 0 auto;
  /*background-color: rgb(188, 249, 215);*/
  padding: 10px;
}

div.config-options {
  position: absolute;
  /*top: 5px;
  right: 5px;*/
}

/* BROCHURE-BANNER */
div#banner-container {
  position: relative;
  margin-left: -14px;
  margin-right: -14px;
}

div#banner_image {
  height: 250px;
}

div#banner_image img {
  height: 100%;
  object-fit: cover;
}

/* BROCHURE-CAROUSEL */
button.slick-arrow {
  filter: invert(100%)
}

div#carousell-box {
  padding: 5px 40px 40px 40px;
}

/* BROCHURE-DESCRIPTIONS-DETAILS */
div#descriptions-details-container {
  display: flex;
}

div#descriptions-container {
  width: 40%;
  position: relative;
  margin: 20px 0 20px 5px;
}

/* BROCHURE-HEADER */
div#brochure-header-container {
   display: flex;
}

div#brochure-header-title {
  width: 90%;
}

div#brochure-header-clipboard {
  width: 10%;
}




div#details-container {
  width: 60%;
  margin: 20px 0 20px 0px;
}
